---
layout: page
title: Tiernan OToole
---

{% for post in paginator.posts %}
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<em>Posted on {{ post.date | date_to_long_string }}. <a href="https://www.tiernanotoole.ie{{ post.url }}#disqus_thread">Comments</a></em>
<p></p>
<p>
                {% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}
                {% else %}
                  {{ post.content | strip_html | strip_newlines | truncate: 250 }}
                {% endif %}
</p>
<p></p>
{% endfor %}
 <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
