---
layout: default
---
<p class="meta">
  {{ page.date | date: "%B %d, %Y" }} 
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>
<!-- post_lead_in -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tiernanotoole_ie_lead_in -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6435972961836580"
     data-ad-slot="5573260001"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- content -->
<div><a href="/Computers/">Back to Computers Homepage</a></div>
 <div class="entry">
        {{ content }}
 </div>
<!-- end content -->
<!-- post_lead_out -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tiernanotoole_lead_out -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6435972961836580"
     data-ad-slot="1003459608"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
