<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.data.theme.name }}" />
  <meta name="description" content="The blog of {{ site.data.theme.name }}" />
  <!-- verifications -->
  <!-- TradeDoubler site verification 2179170 -->
  <meta content="1955CF7038386AB823BB2A22F26C7F2F" name="msvalidate.01" />
  <!-- end verifications -->
 
  <link rel="alternate" type="application/atom+xml" title="{{ site.data.theme.name }}" href="https://feeds.feedburner.com/tiernanotoole" />

  <link rel="stylesheet" href="/assets/css/all.css">

  <link rel="pingback" href="https://webmention.io/tiernanotoole.ie/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/tiernanotoole.ie/webmention" />

  {% seo %}

</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
      {{ content }}
      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
</html>
