---
layout: default
---
<p class="meta">
  {{ page.date | date: "%B %d, %Y" }} 
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>
<!-- post_lead_in -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tiernanotoole_ie_lead_in -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6435972961836580"
     data-ad-slot="5573260001"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<h2 class="post_title">{{page.title}}</h2>
<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li class="archive_list">
    <h3 class="archive_list_header"><a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a></h3>
    <time class="archive_list_post_date" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%e/%y"}}</time>
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>

<!-- post_lead_out -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tiernanotoole_lead_out -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6435972961836580"
     data-ad-slot="1003459608"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
